<html lang="en">

<head>
    <%- include('../utils/head.ejs') %>
    <link rel="stylesheet" href="/style/admin/adminLogin.css">
</head>

<body>
    <div class="bg">
        <div class="container">
                <form action="" method="POST" class="admin-login-form">
                    <div class="title">La Rivage Admin Sistemi</div>
                    <p class="admin-username-label">Kullanıcı Adı:</p>
                    <input type="text" id="usernameInputField">
                    <p class="admin-username-label">Şifre:</p>
                    <input type="text" id="passwordInputField">
                    <button class="admin-login-button" type="submit">Giris</button>
                </form>
        </div>
    </div>
</body>

</html>