<div class="alert-container">
    <div class="alert-box">
        <p class="alert-text"></p>
        <div class="button-group">
            <button id="send" class="okay-btn">Evet, eminim.</button>
            <button id="back" class="okay-btn"></button>
        </div>
    </div>
</div>