<div class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand"><a href="/rolebase">La Rivage</a></div>
        <ul class="navbar-links">
            <li class="navbar-item"><a href="https://forms.gle/rTaSztKg2Cg9S9KR7">Özel Role Başvur</a></li>
            <li class="navbar-item"><a href="https://docs.google.com/document/d/1rgHkhCNNXkKJjW-eCGoNRj_GJBPjdJsF14cRAYxo1pA/edit?usp=sharing">Kurallar</a></li>
            <li class="navbar-item"><a href="https://docs.google.com/document/d/1iYC-IWd1wjR6ohcyQpNKjY1DnLOiCPLqI9fofjzRuU8/edit?usp=sharing">Senaryo</a></li>
        </ul>
    </div>
</div>