<div class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand"><a href="/rolebase">La Rivage</a></div>
        <ul class="navbar-links">
            <li class="navbar-item"><a href="/rolebase">Rol Seçim Paneli</a></li>
            <li class="navbar-item"><a href="#">Kurallar</a></li>
            <li class="navbar-item"><a href="#">Evren Hakkında Bilgiler</a></li>
        </ul>
    </div>
</div>