<div class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">La Rivage</div>
        <ul class="navbar-links">
            <li class="navbar-item"><a href="#">asdfasdf</a></li>
            <li class="navbar-item"><a href="#">asdfasdf</a></li>
            <li class="navbar-item"><a href="#">asdfasdf</a></li>
        </ul>
    </div>
</div>