
.container {
    width: 80%;
    margin: 80px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.side-one, .side-two {
    border: 1px solid black;
    flex: 1 1 0;
}

.side-one, .side-two {
    display: flex;
    flex-direction: column;
}

.row, .row-header {
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.que {
    justify-content: space-evenly!important;
}

.row > * {
    height: 100%;
    width: 100%;
}

.row-header > * {
    height: 100%;
    width: 100%;
}

.row-header > .blue {
    filter: drop-shadow(5px 5px 8px #4444dd);
}

.row-header > .red {
    filter: drop-shadow(5px 5px 8px #dd4444);
}

.row > div {
    display: flex;
    border-radius: 12px;
}

.row-header > div {
    display: flex;
    border-radius: 12px;
}

.side-header {
    justify-content: center;
    align-items: center;
    border-radius: 0!important;
}

.side-header-text {
    margin: 0;
    font-size: 32px;
    color: #ffffff;
}

.blue {
    background: url('/img/blue.jpg');
}

.red {
    background: url('/img/red.jpg');
}

/* SIDE ONE CONTENT */

.row > .blues {
    filter: drop-shadow(5px 5px 8px #4444dd);
    cursor: pointer;
}

.row > .reds {
    filter: drop-shadow(5px 5px 8px #dd4444);
    cursor: pointer;
}

.row > div:hover {
    transform: scale(1.20);
}

.king {
    width: 70px;
    height: 70px;
    align-self: center;
}

.queen {
    width: 70px;
    height: 70px;
    align-self: center;
}

.guard {
    width: 70px;
    height: 70px;
    align-self: center;
}

.citizen {
    width: 70px;
    height: 70px;
    align-self: center;
}

.role > img {
    width: 100%;
}