<html lang="en">

<head>
    <%- include('../utils/head.ejs') %>
        <link rel="stylesheet" href="style/login.css">
</head>

<body>
    <div class="bg">
        <div class="container">
            <div class="login-form">
                <p class="login-form-header">La Rivage Rol Dağıtım Sistemi</p>
                <div class="login-form-components">
                    <form class="form-tag" action="">
                        <p class="guid-label">GUID:</p>
                        <input type="text"> <!-- only number check -->
                        <p class="nick-label">IC Seçtiğiniz Nick:</p>
                        <input type="text"> <!-- nick -->
                        <p class="dc-label">Discord Adresiniz:</p>
                        <input type="text"> <!-- nick -->
                        <button class="login-button" type="submit">Giris Yap</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>