<html lang="en">

<head>
    <%- include('../utils/head.ejs') %>
        <link rel="stylesheet" href="style/login.css">
</head>

<body>
    <%- include('../alert.ejs')  %> 
    <div class="bg">
        <div class="container">
            <div class="login-form">
                <p class="login-form-header">La Rivage Rol Dağıtım Sistemi</p>
                <div class="login-form-components">
                    <form class="form-tag" method="POST" action="/login">
                        <p class="guid-label">GUID:</p>
                        <input type="text" inputmode="numeric" name="guid" id="guidArea"> <!-- only number check -->
                        <p class="nick-label">IC Seçtiğiniz Nick:</p>
                        <input type="text" name="nick" id="nickArea"> <!-- nick -->
                        <p class="dc-label">Discord Adresiniz:</p>
                        <input type="text" name="dc" id="dcArea">
                        <button class="login-button" type="submit">Giris Yap</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/JS/loginPageAjax.js"></script>
</body>

</html>