<html lang="en">

<head>
    
        <link rel="stylesheet" href="style/navbar.css" type="text/css">
        <link rel="stylesheet" href="style/rolebase/rolebase.css" type="text/css">
        <link rel="stylesheet" href="style/rolebase/rolebaseBottom.css" type="text/css">
        <%- include('../utils/head.ejs') %>
</head>

<body>
    <%- include('../navbar.ejs') %>
        <div class="wraper">
            <div class="container">
                <div class="side-one">
                    <div class="row-header">
                        <div class="side-header blue">
                            <p class="side-header-text">Revolationeries</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="king blues">
                            <img src="/img/icons/kont.svg" alt="">
                        </div>
                    </div>
                    <div class="row que">
                        <div class="queen blues">
                            <img src="/img/icons/kumandan.svg" alt="">
                        </div>
                        <div class="queen blues">
                            <img src="/img/icons/vali.svg" alt="">
                        </div>
                        <div class="queen blues">
                            <img src="/img/icons/lonca-baskani.svg" alt="">
                        </div>
                        <div class="queen blues">
                            <img src="/img/icons/bas-rahip.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="guard blues">
                            <img src="/img/icons/muhafiz.svg" alt="">
                        </div>
                        <div class="guard blues">
                            <img src="/img/icons/farmer.svg" alt="">
                        </div>
                        <div class="guard blues">
                            <img src="/img/icons/rahip.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="citizen blues">
                            <img src="/img/icons/demirci.svg" alt="">
                        </div>
                        <div class="citizen blues">
                            <img src="/img/icons/terzi.svg" alt="">
                        </div>
                        <div class="citizen blues">
                            <img src="/img/icons/hanci.svg" alt="">
                        </div>
                        <div class="citizen blues">
                            <img src="/img/icons/seyis.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="mid-vertical-line"></div>
                <div class="side-two">
                    <div class="row-header">
                        <div class="side-header red">
                            <p class="side-header-text">Monarchs</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="king reds">
                            <img src="/img/icons/isyanci.svg" alt="">
                        </div>
                    </div>
                    <div class="row que">
                        <div class="queen reds">
                            <img src="/img/icons/orman-haydutu-lideri.svg" alt="">
                        </div>
                        <div class="queen reds">
                            <img src="/img/icons/ayrilikcilar.svg" alt="">
                        </div>
                        <div class="queen reds">
                            <img src="/img/icons/isyan-askeri.svg" alt="">
                        </div>
                        <div class="queen reds">
                            <img src="/img/icons/ciftlik-sahibi.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="guard reds">
                            <img src="/img/icons/capulcu.svg" alt="">
                        </div>
                        <div class="guard reds">
                            <img src="/img/icons/kelle-avcisi.svg" alt="">
                        </div>
                        <div class="guard reds">
                            <img src="/img/icons/ciftci.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="citizen reds">
                            <img src="/img/icons/kumarbaz.svg" alt="">
                        </div>
                        <div class="citizen reds">
                            <img src="/img/icons/gambazci.svg" alt="">
                        </div>
                        <div class="citizen reds">
                            <img src="/img/icons/marangoz.svg" alt="">
                        </div>
                        <div class="citizen reds">
                            <img src="/img/icons/yalen-siginmacilari.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-area">
                <%- include('./rolebaseBottom.ejs')  %> 
            </div>
        </div>
</body>

</html>