<html lang="en">

<head>
    
        <link rel="stylesheet" href="style/navbar.css" type="text/css">
        <link rel="stylesheet" href="style/rolebase.css" type="text/css">
        <%- include('../utils/head.ejs') %>
</head>

<body>
    <%- include('../navbar.ejs') %>
        <div class="wraper">
            <div class="container">
                <div class="side-one">
                    <div class="row-header">
                        <div class="side-header blue">
                            <p class="side-header-text">Revolationeries</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="king blues">
                            <img src="/img/icons/050-crown.svg" alt="">
                        </div>
                    </div>
                    <div class="row que">
                        <div class="queen blues">
                            <img src="/img/icons/032-helmet.svg" alt="">
                        </div>
                        <div class="queen blues">
                            <img src="/img/icons/032-helmet.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="guard blues">
                            <img src="/img/icons/001-executioner.svg" alt="">
                        </div>
                        <div class="guard blues">
                            <img src="/img/icons/001-executioner.svg" alt="">
                        </div>
                        <div class="guard blues">
                            <img src="/img/icons/001-executioner.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="citizen blues">
                            <img src="/img/icons/042-shield.svg" alt="">
                        </div>
                        <div class="citizen blues">
                            <img src="/img/icons/042-shield.svg" alt="">
                        </div>
                        <div class="citizen blues">
                            <img src="/img/icons/042-shield.svg" alt="">
                        </div>
                        <div class="citizen blues">
                            <img src="/img/icons/042-shield.svg" alt="">
                        </div>
                        <div class="citizen blues">
                            <img src="/img/icons/042-shield.svg" alt="">
                        </div>
                    </div>
                    <div class="foot-row">
                        <button class="rastgele-rol-sec-button">Rastgele Rol Seç</button>
                    </div>
                </div>
                <div class="mid-vertical-line"></div>
                <div class="side-two">
                    <div class="row-header">
                        <div class="side-header red">
                            <p class="side-header-text">Monarchs</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="king reds">
                            <img src="/img/icons/050-crown.svg" alt="">
                        </div>
                    </div>
                    <div class="row que">
                        <div class="queen reds">
                            <img src="/img/icons/032-helmet.svg" alt="">
                        </div>
                        <div class="queen reds">
                            <img src="/img/icons/032-helmet.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="guard reds">
                            <img src="/img/icons/001-executioner.svg" alt="">
                        </div>
                        <div class="guard reds">
                            <img src="/img/icons/001-executioner.svg" alt="">
                        </div>
                        <div class="guard reds">
                            <img src="/img/icons/001-executioner.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="citizen reds">
                            <img src="/img/icons/042-shield.svg" alt="">
                        </div>
                        <div class="citizen reds">
                            <img src="/img/icons/042-shield.svg" alt="">
                        </div>
                        <div class="citizen reds">
                            <img src="/img/icons/042-shield.svg" alt="">
                        </div>
                        <div class="citizen reds">
                            <img src="/img/icons/042-shield.svg" alt="">
                        </div>
                        <div class="citizen reds">
                            <img src="/img/icons/042-shield.svg" alt="">
                        </div>
                    </div>
                    <div class="foot-row">
                        <button class="rastgele-rol-sec-button">Rastgele Rol Seç</button>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>