<html lang="en">

<head>
    
        <link rel="stylesheet" href="style/navbar.css" type="text/css">
        <link rel="stylesheet" href="style/rolebase/rolebase.css" type="text/css">
        <link rel="stylesheet" href="style/rolebase/rolebaseBottom.css" type="text/css">
        <%- include('../utils/head.ejs') %>
</head>

<body>
    <div id="toolbox" style="display: none; padding: 5px; position: absolute; background-color: rgb(65, 50, 50); border: 1px solid #ffffff; color: #ffffff; z-index: 11;"></div>
    <%- include('../navbar.ejs') %>
    <div class="bg">
        <div class="wraper">
            <div class="container">
                <div class="side-one">
                    <div class="row-header">
                        <div class="side-header blue">
                            <p class="side-header-text">Revolationeries</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="king blues role" data-role-desc="Kont" data-role-number="0">
                            <img src="/img/icons/kont.svg" alt="">
                        </div>
                    </div>
                    <div class="row que">
                        <div class="queen blues role" data-role-desc="Muhafız Kumandanı" data-role-number="1">
                            <img src="/img/icons/kumandan.svg" alt="">
                        </div>
                        <div class="queen blues role" data-role-desc="Vali" data-role-number="2">
                            <img src="/img/icons/vali.svg" alt="">
                        </div>
                        <div class="queen blues role" data-role-desc="Lonca Başkanı" data-role-number="3">
                            <img src="/img/icons/lonca-baskani.svg" alt="">
                        </div>
                        <div class="queen blues role" data-role-desc="Baş Rahip" data-role-number="4">
                            <img src="/img/icons/bas-rahip.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="guard blues role" data-role-desc="Muhafız Eri" data-role-number="5">
                            <img src="/img/icons/muhafiz.svg" alt="">
                        </div>
                        <div class="guard blues role" data-role-desc="Muhtar" data-role-number="6">
                            <img src="/img/icons/farmer.svg" alt="">
                        </div>
                        <div class="guard blues role" data-role-desc="Rahip" data-role-number="7">
                            <img src="/img/icons/rahip.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="citizen blues role" data-role-desc="Demirci" data-role-number="8">
                            <img src="/img/icons/demirci.svg" alt="">
                        </div>
                        <div class="citizen blues role" data-role-desc="Terzi" data-role-number="9">
                            <img src="/img/icons/terzi.svg" alt="">
                        </div>
                        <div class="citizen blues role" data-role-desc="Hancı" data-role-number="10">
                            <img src="/img/icons/hanci.svg" alt="">
                        </div>
                        <div class="citizen blues role" data-role-desc="Seyis" data-role-number="11">
                            <img src="/img/icons/seyis.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="mid-vertical-line"></div>
                <div class="side-two">
                    <div class="row-header">
                        <div class="side-header red">
                            <p class="side-header-text">Monarchs</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="king reds role" data-role-desc="İsyancı Lideri" data-role-number="12">
                            <img src="/img/icons/isyanci.svg" alt="">
                        </div>
                    </div>
                    <div class="row que">
                        <div class="queen reds role" data-role-desc="Orman Haydut Lideri" data-role-number="13">
                            <img src="/img/icons/orman-haydutu-lideri.svg" alt="">
                        </div>
                        <div class="queen reds role" data-role-desc="Ayrılıkçılar" data-role-number="14">
                            <img src="/img/icons/ayrilikcilar.svg" alt="">
                        </div>
                        <div class="queen reds role" data-role-desc="İsyan Askeri" data-role-number="15">
                            <img src="/img/icons/isyan-askeri.svg" alt="">
                        </div>
                        <div class="queen reds role" data-role-desc="Çiftlik Sahibi" data-role-number="16">
                            <img src="/img/icons/ciftlik-sahibi.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="guard reds role" data-role-desc="Çapulcu" data-role-number="17">
                            <img src="/img/icons/capulcu.svg" alt="">
                        </div>
                        <div class="guard reds role" data-role-desc="Kelle Avcısı" data-role-number="18">
                            <img src="/img/icons/kelle-avcisi.svg" alt="">
                        </div>
                        <div class="guard reds role" data-role-desc="Çiftçi" data-role-number="19">
                            <img src="/img/icons/ciftci.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="citizen reds role" data-role-desc="Kumarbaz" data-role-number="20">
                            <img src="/img/icons/kumarbaz.svg" alt="">
                        </div>
                        <div class="citizen reds role" data-role-desc="Gammazcı" data-role-number="21">
                            <img src="/img/icons/gambazci.svg" alt="">
                        </div>
                        <div class="citizen reds role" data-role-desc="Marangoz" data-role-number="22">
                            <img src="/img/icons/marangoz.svg" alt="">
                        </div>
                        <div class="citizen reds role" data-role-desc="Yalen Sığınmacıları" data-role-number="23">
                            <img src="/img/icons/yalen-siginmacilari.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-area">
                <%- include('./rolebaseBottom.ejs')  %> 
            </div>
        </div>
    </div>
    
        <script src="/JS/roleBaseMouseEffect.js"></script>
        <script src="/JS/roleBaseOnclickAjax.js"></script>
</body>

</html>