<html lang="en">
<head>
    <%- include('../utils/head.ejs')  %>
    <link rel="stylesheet" href="style/navbar.css"> 
</head>
<body>
    <%- include('../navbar.ejs')  %> 
    <div class="wraper">
        <div class="container">
            
        </div>
    </div>
</body>
</html>