<html lang="en">

<head>
    <%- include('../utils/head.ejs') %>
        <link rel="stylesheet" href="style/navbar.css">
        <link rel="stylesheet" href="style/rolebase.css">
</head>

<body>
    <%- include('../navbar.ejs') %>
        <div class="wraper">
            <div class="container">
                <div class="side-one">
                    <div class="row">
                        <div class="side-header blue">
                            <p class="side-header-text">Revolationeries</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="king"></div>
                    </div>
                    <div class="row que">
                        <div class="queen"></div>
                        <div class="queen"></div>
                    </div>
                    <div class="row">
                        <div class="guard"></div>
                        <div class="guard"></div>
                        <div class="guard"></div>
                    </div>
                    <div class="row">
                        <div class="citizen"></div>
                        <div class="citizen"></div>
                        <div class="citizen"></div>
                        <div class="citizen"></div>
                        <div class="citizen"></div>
                    </div>
                    <div class="foot-row">
                        <button class="rastgele-rol-sec-button">Rastgele Rol Seç</button>
                    </div>
                </div>
                <div class="mid-vertical-line"></div>
                <div class="side-two">
                    <div class="row">
                        <div class="side-header red">
                            <p class="side-header-text">Monarchs</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="king"></div>
                    </div>
                    <div class="row que">
                        <div class="queen"></div>
                        <div class="queen"></div>
                    </div>
                    <div class="row">
                        <div class="guard"></div>
                        <div class="guard"></div>
                        <div class="guard"></div>
                    </div>
                    <div class="row">
                        <div class="citizen"></div>
                        <div class="citizen"></div>
                        <div class="citizen"></div>
                        <div class="citizen"></div>
                        <div class="citizen"></div>
                    </div>
                    <div class="foot-row">
                        <button class="rastgele-rol-sec-button">Rastgele Rol Seç</button>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>