<div class="foot-row">
    <p class="button-head-text">Başvuru beklemek istemiyorsanız Rastgele Rol Seç butonuna basabilirsiniz. Bu butona bastığınızda kendi hikayenizi oluşturabilir mesleğinizi seçebilirsiniz. Sunucuda karakter hikayeniz ve mesleğinize özel ekipmanlarla doğacaksınız.</p>
    <button class="rastgele-rol-sec-button">Rastgele Rol Seç</button>
</div>